<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="service">
      <h2 data-cy="serviceDetailsHeading"><span>Service</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ service.id }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ service.status }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ service.name }}</span>
        </dd>
        <dt><span>Url</span></dt>
        <dd>
          <span>{{ service.url }}</span>
        </dd>
        <dt><span>Created</span></dt>
        <dd>
          <span>{{ service.created | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Updated</span></dt>
        <dd>
          <span>{{ service.updated | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/service', service.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
